<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.uniswap">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    tools:replace="android:fullBackupContent"
    android:fullBackupContent="@xml/backup_rules"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:localeConfig="@xml/locales_config"
    android:theme="@style/AppTheme"
    android:taskAffinity=""
    android:excludeFromRecents="true">

    <meta-data
      android:name="com.onesignal.messaging.default_notification_icon"
      android:resource="@drawable/ic_stat_onesignal_default" />

    <meta-data
      android:name="com.onesignal.NotificationAccentColor.DEFAULT"
      android:value="@string/notification_accent_color" />

    <meta-data
      android:name="com.onesignal.NotificationServiceExtension"
      android:value="com.uniswap.notifications.SilentPushNotificationServiceExtension" />

    <!-- We use FCM for WalletConnect push notifications -->

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/ic_stat_onesignal_default" />

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:value="@string/notification_accent_color" />

    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
      android:launchMode="singleTop"
      android:windowSoftInputMode="adjustResize"
      android:exported="true"
      android:supportsRtl="true"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="uniswap" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="wc" />
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:scheme="https"
          android:host="app.uniswap.org"
          android:pathPrefix="/nfts/asset/" />

        <data
          android:scheme="https"
          android:host="app.uniswap.org"
          android:pathPrefix="/nfts/collection/" />

        <data
          android:scheme="https"
          android:host="app.uniswap.org"
          android:pathPrefix="/tokens" />

        <data
          android:scheme="https"
          android:host="app.uniswap.org"
          android:pathPrefix="/address/" />

        <data
          android:scheme="https"
          android:host="app.uniswap.org"
          android:pathPrefix="/explore/" />

        <data
          android:scheme="https"
          android:host="app.uniswap.org"
          android:pathPrefix="/swap" />

        <data
          android:scheme="https"
          android:host="app.uniswap.org"
          android:pathPrefix="/buy" />
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:scheme="https"
          android:host="uniswap.org"
          android:pathPrefix="/app" />

        <data
          android:scheme="https"
          android:host="uniswap.org"
          android:pathPrefix="/app/wc" />
      </intent-filter>
    </activity>
  </application>
</manifest>
