{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "keepClassNames": true,
    "experimental": {
      "plugins": [
        [
          "@swc/plugin-styled-components",
          {
            "displayName": true
          }
        ]
      ]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "env": {
    "targets": { "chrome": "80" },
    "include": ["transform-async-to-generator"]
  }
}
