.infoPage {
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(360deg, #327ccb, #4f94de 1.5%, #8bbbef 4%, #bdddff 8%, #deeeff 40%);
    min-height: 100vh;
}

.infoPage .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.infoPage .logo {
    border-radius: 50%;
    width: 44px;
    height: auto;
    margin: 13px 9px 8px 15px;
    display: inline-block;
}

.infoPage .logo img {
    width: 70px;
    height: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.infoPage .logoText {
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    line-height: 60px;
    display: inline-block;
    vertical-align: top;
    color: #000000;
}

.infoPage .rightSide button {
    width: 90px !important;
    background-color: #8b9db1 !important;
    color: white !important;
    margin: 12px 12px !important;
}

.infoContent {
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 120px auto 200px;
    color: black;
    padding: 0 20px;
}

.infoTitle {
    font-weight: 100;
    font-size: 50px;
}

.infoContent p {
    margin: 40px 0;
    line-height: 32px;
    font-weight: 300;
    font-size: 20px;
}

.infoContent b {
    font-weight: 600;
}

.infoContent a {
    color: #0e58a7;
}

.fullDocumentWrapper {
    text-align: center;
    padding: 40px 0;
    margin-bottom: 50px;
}

.fullDocumentText {
    font-weight: 200;
    font-size: 26px;
}

.fullDocumentWrapper a {
    text-decoration: none !important;
}

.fullDocumentWrapper button {
    background: white;
    color: #000000;
    text-decoration: none !important;
    width: 140px;
    font-size: 18px;
    font-weight: 100;
    margin: 20px;
}

.bondingCurveImageWrapper {
    text-align: center;
    padding: 16px;
}

@media (max-width: 1100px) {
    .infoPage .navbar {
        position: relative;
        transform: none;
        left: 0;
    }

    .infoContent {
        margin: 40px auto 200px;
    }

    .bondingCurveImage {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 550px) {
    .infoPage .navbar {
        padding-top: 5px;
    }

    .infoPage .logo {
        width: 32px;
    }

    .infoPage .logoText {
        font-size: 20px;
        line-height: 60px;
        margin-top: -5px;
    }

    .infoPage .swapText {
        line-height: 55px;
    }
}