apps/web2/**/* @uniswap/web-reviewers
apps/mobile/**/* @uniswap/wallet
apps/web/**/* @uniswap/extension
packages/wallet/**/* @uniswap/wallet @uniswap/extension
packages/utilities/**/* @uniswap/wallet @uniswap/extension
packages/ui/**/* @uniswap/eng-ui
