# See https://help.github.com/ignore-files/ for more about ignoring files.


# generated contract types
/src/types/v3
/src/abis/types
/src/locales/**/*.js
/src/locales/**/en-US.po
/src/locales/**/pseudo.po

# generated graphql types
/src/graphql/**/__generated__
schema.graphql

# dependencies
/node_modules

# testing
/coverage

# builds
/build
/dts

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

instrumented
.nyc_output
.nyc_output/**/*

/.netlify

npm-debug.log*
yarn-debug.log*
yarn-error.log*

notes.txt
.idea/

package-lock.json

cypress/videos
cypress/screenshots

.vercel
