*.tsbuildinfo
__generated__
__mocks__
.detoxrc.js
.tamagui
.turbo
.turbo
.yarn
@types
*.graphql
*.html
*.inc
*.json
*.md
*.yml
build
craco.config.cjs
cypress
dist
jest-setup.js
jest.config.js
jest.config.js
metro.config.js
node_modules
types
**/coverage/**

# app/package specific

# mobile

apps/mobile/ios
apps/mobile/android
apps/mobile/.storybook/storybook.requires.ts

# extension

apps/extension/dev

# packages

packages/uniswap/codegen.ts

# eslint

packages/eslint-config/restrictedImports.js

# generated

packages/uniswap/src/data/rest/conversionTracking/api
**/storybook-static/
**/lcov-report/
