{
  "$schema": "https://json.schemastore.org/swcrc",
  // has to duplicate from package.json, see swc issue: https://swc.rs/docs/configuration/compilation#env
  "env": {
    "targets": "> 0.5%, not dead"
  },
  "jsc": {
    "keepClassNames": true,
    "experimental": {
      "plugins": [
        [
          "@lingui/swc-plugin",
          {}
        ],
        [
          "@swc/plugin-styled-components",
          {
            "displayName": true
          }
        ]
      ]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  }
}
