body {
  /* TODO: how to apply styles to body. The 100vh is needed so that the window takes up the whole page. 100% didn't work when there is no content. */
  height: 100vh;
  margin: 0
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}
