@import "../../variables.scss";

.swap {
  @extend %col-nowrap;
  height: 100%;
  background-color: $white;

  &--inactive {
    opacity: .5;
  }

  &__content {
    padding: 1rem .75rem;
    flex: 1 1 auto;
    height: 0;
    overflow-y: auto;
  }

  &__down-arrow {
    width: .625rem;
    height: .625rem;
    position: relative;
    z-index: 200;
    padding: .875rem;

    &--clickable {
      cursor: pointer;
    }
  }

  &__down-arrow-background {
    @extend %row-nowrap;
    justify-content: center;
    align-items: center;
  }

  &__exchange-rate-wrapper {
    @extend %row-nowrap;
    align-items: center;
    color: $dove-gray;
    font-size: .75rem;
    padding: .5rem 1rem;
  }

  &__exchange-rate {
    flex: 1 1 auto;
    width: 0;
    color: $chalice-gray;
  }

  &__highlight-text {
    color: $royal-blue;
  }

  &__cta-container {
    display: flex;
    margin-top: 1.5rem;
  }

  &__cta-btn {
    @extend %primary-button;
    margin: 1rem auto;
  }

  &__sub-icon {
    margin-right: 5px;
  }

  &__sub-text {
    margin-top: 5px;
  }
}

.summary-modal-appear {
  bottom: 0;
}

.summary-modal-appear.modal-container-appear-active {
  bottom: 0;
}
