
@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.example-enter {
  animation: opacity 2.5s both;
}

.example-enter.example-enter-active {
  animation: opacity 2.5s both;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  animation: opacity 2.5s both;

}
