.alert-enter {
  opacity: 0;
  transform:translateX(-100%);
}
.alert-enter-active {
  opacity: 1;
  transform:translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
  transform:translateX(0);
}
.alert-exit-active {
  opacity: 0;
  transform:translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}