<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Uniswap</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>fr</string>
		<string>ja</string>
		<string>pt</string>
		<string>vi</string>
    <!-- Spanish locales that use `,` as the decimal separator -->
		<string>es-419</string>
		<string>es-BZ</string>
		<string>es-CU</string>
		<string>es-DO</string>
		<string>es-GT</string>
		<string>es-HN</string>
		<string>es-MX</string>
		<string>es-NI</string>
		<string>es-PA</string>
		<string>es-PE</string>
		<string>es-PR</string>
		<string>es-SV</string>
    <string>es-US</string>
    <!-- Spanish locales that use `.` as the decimal separator -->
		<string>es-AR</string>
		<string>es-BO</string>
		<string>es-CL</string>
		<string>es-CO</string>
		<string>es-CR</string>
		<string>es-EC</string>
    <string>es-ES</string>
		<string>es-PY</string>
		<string>es-UY</string>
		<string>es-VE</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uniswap</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>uniswap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>org.uniswap.wc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
		<string>itms-beta</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
  <key>LSMinimumSystemVersion</key>
  <string>15.1</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) Wallet needs access to your Camera to scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID helps $(PRODUCT_NAME) Wallet keep your assets secure.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) Wallet does not require access to your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) Wallet does not require access to your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) Wallet does not require access to the microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) Wallet needs access to your Camera Roll to choose an avatar for your username</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.Uniswap</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<false/>
			<key>NSUbiquitousContainerName</key>
			<string>Uniswap</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>TokenPriceConfigurationIntent</string>
	</array>
	<key>OneSignal_app_groups_key</key>
	<string>group.com.uniswap.mobile.onesignal</string>
	<key>OneSignal_suppress_launch_urls</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>InputMono-Regular.ttf</string>
		<string>Basel-Grotesk-Book.otf</string>
		<string>Basel-Grotesk-Medium.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
