{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Uniswap Trading API",
      "url": "https://trade-api.gateway.uniswap.org/v1"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Token Trading",
    "description": "Uniswap Labs trading APIs.\n\nOperations, parameters, and schema fields may include the vendor extension `x-internal` (boolean). Only `x-internal: true` marks an operation or field as internal and omits it from public docs. If `x-internal` is omitted or set to `false`, the operation or field is external and shown in the docs. Agents and humans should not use any fields marked with `x-internal: true` because they either will not work through public API access or may cause unintended outcomes. See the [OpenAPI specification extensions](https://swagger.io/docs/specification/v3_0/openapi-extensions/) definition of `x-` fields."
  },
  "paths": {
    "/check_approval": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Check swap approvals",
        "description": "Allows the requestor to check if the `walletAddress` has the required approval to transact the `token` up to the `amount` specified. If the `walletAddress` does not have the required approval, the response will include a transaction to approve the token spend. If the `walletAddress` has the required approval, the response will return the approval with a `null` value. If the parameter `includeGasInfo` is set to `true` and an approval is needed, then the response will include both the transaction and the gas fee for the approval transaction.\n\nCertain tokens may require that approval be reset before approving a new spend amount. If this condition is detected for the `walletAddress` and `token`, the response will include the necessary approval cancellation in the `cancel` paragraph. When `cancel` is not applicable, the paragraph will have a `null` value.",
        "operationId": "check_approval",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/permit2DisabledHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalRequest"
              },
              "example": {
                "chainId": 1,
                "urgency": "urgent",
                "includeGasInfo": true,
                "walletAddress": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "token": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                "amount": "2516"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApprovalSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ApprovalNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/permissions": {
      "post": {
        "tags": [
          "utilities"
        ],
        "summary": "Check token KYC permissions",
        "description": "For each token in the request, reports whether the token requires a permissioned adapter and whether the supplied `walletAddress` is allowlisted to trade it. If the token is permissioned but the wallet is not allowlisted, the response includes a `kycUrl` the wallet holder must complete to gain access. The request supports a maximum of 2 tokens.",
        "operationId": "permissions",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionsRequest"
              },
              "example": {
                "walletAddress": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "tokens": [
                  "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599"
                ],
                "chainId": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PermissionsSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/PermissionsNotFound404"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/quote": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Get a quote",
        "description": "Requests a quote according to the specified swap parameters. This endpoint may be used to get a quote for a swap, a bridge, or a wrap/unwrap. The resulting response includes a quote for the swap and the proposed route by which the quote was achieved. The response will also include estimated gas fees for the proposed quote route. If the proposed route is via a Uniswap Protocol pool, the response may include a permit2 message for the swapper to sign prior to making a /swap request. The proposed route will also be simulated. If the simulation fails, the response will include an error message or `txFailureReason`.\n\nCertain routing options may be whitelisted by the requestor through the use of the `protocols` field. Further, the requestor may ask for the best price route or for the fastest price route through the 'routingPreference' field. Note that the fastest price route refers to the speed with which a quote is returned, not the number of transactions that may be required to get from the input token and chain to the output token and chain. Further note that all `routingPreference` values except for `FASTEST` and `BEST_PRICE` are deprecated. For more information on the `protocols` and `routingPreference` fields, see the [Token Trading Workflow](https://uniswap-docs.readme.io/reference/trading-flow#swap-routing) explanation of Swap Routing.\n\nAPI integrators using this API for the benefit of customer end users may request a service fee be taken from the output token and deposited to a fee collection address. To request this, please reach out to your Uniswap Labs contact. This optional fee is associated to the API key and is always taken from the output token. Note if there is a fee and the `type` is `EXACT_INPUT`, the output amount quoted will **not** include the fee subtraction. If there is a fee and the `type` is `EXACT_OUTPUT`, the input amount quoted will **not** include the fee addition. Instead, in both cases, the fee will be recorded in the `portionBips` and `portionAmount` fields.\n\nNative ETH on UniswapX: UniswapX routes (e.g. `DUTCH_V2`, `DUTCH_V3`, `PRIORITY`) can use native ETH as the input token by setting `tokenIn` to the native currency address (e.g. `0x0000000000000000000000000000000000000000`) and passing `x-erc20eth-enabled: true`. Native ETH input on UniswapX requires wallet support for EIP-7914, a smart wallet activated on your desired network, and a sufficient native allowance (set via /swap_7702 if x-erc20eth-enabled header is set to `true`). If these requirements are not met, UniswapX quotes for native input may be omitted and the response may fall back to `CLASSIC` routing instead.",
        "operationId": "aggregator_quote",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          },
          {
            "$ref": "#/components/parameters/erc20EthEnabledHeader"
          },
          {
            "$ref": "#/components/parameters/permit2DisabledHeader"
          },
          {
            "$ref": "#/components/parameters/swapStepsEnabledHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              },
              "example": {
                "type": "EXACT_INPUT",
                "tokenInChainId": 1,
                "tokenOutChainId": 1,
                "generatePermitAsTransaction": false,
                "autoSlippage": "DEFAULT",
                "routingPreference": "BEST_PRICE",
                "spreadOptimization": "EXECUTION",
                "urgency": "normal",
                "permitAmount": "FULL",
                "amount": "2516",
                "tokenIn": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                "tokenOut": "0x0000000000000000000000000000000000000000",
                "swapper": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "protocols": [
                  "UNISWAPX_V2",
                  "V4",
                  "V3",
                  "V2"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QuoteSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/QuoteNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/order": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Create a gasless order",
        "description": "The order endpoint is used to submit a UniswapX intent. If the `routing` field in the response to a quote is any of `DUTCH_V2`, `DUTCH_V3`, `LIMIT_ORDER`, or `PRIORITY` this endpoint is used to submit your order to the UniswapX protocol to be filled by the filler network. These orders are gasless because the filler will pay the gas to complete the transaction.\n\nThe order will be validated and, if valid, will be submitted to the filler network. The network will try to fill the order at the quoted `startAmount`. If the order is not filled at the `startAmount` by the `deadline`, the amount will start decaying until the `endAmount` is reached. The order will remain `open` until it is either filled, canceled, or has expired by remaining unfilled beyond the `decayEndTime`.\n\nFor simplicity, the order request is identical to the quote response except for the addition of the signed permit.\n\nNative ETH on UniswapX: If the quote you are submitting uses native ETH as the input token (e.g. `tokenIn` is `0x0000000000000000000000000000000000000000`), include `x-erc20eth-enabled: true`. Native ETH input on UniswapX requires wallet support for EIP-7914 and sufficient native allowance. For 7702-delegated smart contract wallets, you can generate the required approval call(s) via `/swap_7702` when needed.",
        "operationId": "post_order",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/erc20EthEnabledHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OrderSuccess201"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "503": {
            "$ref": "#/components/responses/OrderUnavailable503"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "swapping"
        ],
        "summary": "Get gasless order status",
        "description": "Retrieve one or more gasless orders filtered, optionally filered by query param(s). The request must at minimum include one of the following parameters: `orderId`, `orderIds`, `orderStatus`, `swapper`, or `filler`.",
        "operationId": "get_order",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orderTypeParam"
          },
          {
            "$ref": "#/components/parameters/orderIdParam"
          },
          {
            "$ref": "#/components/parameters/orderIdsParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/orderStatusParam"
          },
          {
            "$ref": "#/components/parameters/swapperParam"
          },
          {
            "$ref": "#/components/parameters/sortKeyParam"
          },
          {
            "$ref": "#/components/parameters/sortParam"
          },
          {
            "$ref": "#/components/parameters/fillerParam"
          },
          {
            "$ref": "#/components/parameters/cursorParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrdersSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/OrdersBadRequest400"
          },
          "404": {
            "$ref": "#/components/responses/OrdersNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "503": {
            "$ref": "#/components/responses/OrdersUnavailable503"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swap": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Create swap calldata",
        "description": "Create the calldata for a swap transaction (including wrap/unwrap) against the Uniswap Protocols. If the `quote` parameter includes the fee parameters, then the calldata will include the fee disbursement. The gas estimates will be **more precise** when the the response calldata would be valid if submitted on-chain.",
        "operationId": "create_swap_transaction",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          },
          {
            "$ref": "#/components/parameters/permit2DisabledHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSwapRequest"
              },
              "example": {
                "quote": {
                  "chainId": 1,
                  "input": {
                    "amount": "2516",
                    "token": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599"
                  },
                  "output": {
                    "amount": "996320746321162",
                    "token": "0x0000000000000000000000000000000000000000",
                    "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421"
                  },
                  "swapper": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                  "route": [
                    [
                      {
                        "type": "v4-pool",
                        "address": "0x599326d9cd5e1ea0893305c87d5ec3199e7f05e94d72159f35dea381479a615e",
                        "tokenIn": {
                          "chainId": 1,
                          "decimals": "8",
                          "address": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                          "symbol": "WBTC"
                        },
                        "tokenOut": {
                          "chainId": 1,
                          "decimals": "18",
                          "address": "0x0000000000000000000000000000000000000000",
                          "symbol": "ETH"
                        },
                        "fee": "500",
                        "tickSpacing": "10",
                        "hooks": "0x0000000000000000000000000000000000000000",
                        "liquidity": "82781860385007263",
                        "sqrtRatioX96": "125814565506407615477027",
                        "tickCurrent": "-267075",
                        "amountIn": "2516",
                        "amountOut": "993829944455359"
                      }
                    ]
                  ],
                  "slippage": 5.5,
                  "tradeType": "EXACT_INPUT",
                  "quoteId": "62e83902-9455-405d-8c62-cdf8ee9e2042",
                  "gasFeeUSD": "1.27511942409885062",
                  "gasFeeQuote": "489108586810000",
                  "gasUseEstimate": "180350",
                  "priceImpact": 0.14,
                  "txFailureReasons": [],
                  "maxPriorityFeePerGas": "2000000000",
                  "maxFeePerGas": "4656513686",
                  "gasFee": "489108586810000",
                  "routeString": "[V4] 100.00% = WBTC -- 0.05% [0x599326d9cd5e1ea0893305c87d5ec3199e7f05e94d72159f35dea381479a615e]ETH",
                  "blockNumber": "22483653",
                  "aggregatedOutputs": [
                    {
                      "amount": "993829944455360",
                      "token": "0x0000000000000000000000000000000000000000",
                      "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                      "bps": 9975,
                      "minAmount": "993829944455360"
                    },
                    {
                      "amount": "2490801865802",
                      "token": "0x0000000000000000000000000000000000000000",
                      "recipient": "0x000000fee13a103A10D593b9AE06b3e05F2E7E1c",
                      "bps": 25,
                      "minAmount": "2490801865802"
                    }
                  ],
                  "portionAmount": "2490801865802",
                  "portionBips": 25,
                  "portionRecipient": "0x000000fee13a103A10D593b9AE06b3e05F2E7E1c"
                },
                "permitData": {
                  "domain": {
                    "name": "Permit2",
                    "chainId": 1,
                    "verifyingContract": "0x000000000022D473030F116dDEE9F6B43aC78BA3"
                  },
                  "types": {
                    "PermitSingle": [
                      {
                        "name": "details",
                        "type": "PermitDetails"
                      },
                      {
                        "name": "spender",
                        "type": "address"
                      },
                      {
                        "name": "sigDeadline",
                        "type": "uint256"
                      }
                    ],
                    "PermitDetails": [
                      {
                        "name": "token",
                        "type": "address"
                      },
                      {
                        "name": "amount",
                        "type": "uint160"
                      },
                      {
                        "name": "expiration",
                        "type": "uint48"
                      },
                      {
                        "name": "nonce",
                        "type": "uint48"
                      }
                    ]
                  },
                  "values": {
                    "details": {
                      "token": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                      "amount": "1461501637330902918203684832716283019655932542975",
                      "expiration": "1749845047",
                      "nonce": "1"
                    },
                    "spender": "0x66a9893cc07d91d95644aedd05d03f95e1dba8af",
                    "sigDeadline": "1747254847"
                  }
                },
                "signature": "0xb22e7f47d8...",
                "simulateTransaction": true,
                "refreshGasPrice": true,
                "safetyMode": "SAFE",
                "urgency": "normal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateSwapSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swaps": {
      "get": {
        "tags": [
          "swapping"
        ],
        "summary": "Get swap status",
        "description": "Get the status of swap or bridge transactions. Accepts on-chain transaction hashes (`txHashes`), ERC-4337 userOperation hashes (`userOpHashes`), or both. At least one of the two must contain at least one item.",
        "operationId": "get_swaps",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/transactionHashesParam"
          },
          {
            "$ref": "#/components/parameters/userOpHashesParam"
          },
          {
            "$ref": "#/components/parameters/chainIdParam"
          },
          {
            "$ref": "#/components/parameters/swapperParam",
            "x-internal": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSwapsSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swappable_tokens": {
      "get": {
        "tags": [
          "utilities"
        ],
        "summary": "Get bridgable tokens",
        "description": "Returns the list of destination bridge chains for a given token on a given chain.",
        "operationId": "get_swappable_tokens",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tokenInParam"
          },
          {
            "$ref": "#/components/parameters/bridgeTokenInChainIdParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSwappableTokensSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/QuoteNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/limit_order_quote": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Get a limit order quote",
        "description": "Get a quote for a limit order according to the provided configuration.",
        "operationId": "get_limit_order_quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LimitOrderQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LimitOrderQuoteSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/QuoteNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "x-internal": true
      }
    },
    "/lp/check_approval": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Check LP token approvals",
        "description": "Checks whether the wallet has the required token approvals to perform an LP action (create, increase, decrease, or migrate). Returns any needed approval transactions. If `simulateTransaction` is set to `true`, the response will include gas fees for the approval transactions.\n\nThe `action` field specifies which LP operation the approval is for. Different actions may require different approvals (e.g., V2 decrease requires approval of the LP token, V3 migrate requires approval of the V3 NFT).",
        "operationId": "check_lp_approval",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LPApprovalRequest"
              },
              "example": {
                "walletAddress": "0x...",
                "protocol": "V2",
                "chainId": 1,
                "lpTokens": [
                  {
                    "tokenAddress": "0x455e53cbb86018ac2b8092fdcd39d8444affc3f6",
                    "amount": "1000000000000000000"
                  },
                  {
                    "tokenAddress": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                    "amount": "100650"
                  }
                ],
                "action": "CREATE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LPApprovalSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ApprovalNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/lp/create": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Create a V3 or V4 LP position",
        "description": "Creates a new LP position in a V3 or V4 pool (including full-range positions). You can create a position in an existing pool by providing `existingPool` parameters, or create a new pool by providing `newPool` parameters (fee, tick spacing, initial price, and optionally hooks for V4). The position's price range is specified via either `priceBounds` or `tickBounds`. The server computes the dependent token amount. If `simulateTransaction` is set to `true`, the response will include the gas fee.",
        "operationId": "create_position",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePositionRequest"
              },
              "example": {
                "walletAddress": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "existingPool": {
                  "token0Address": "0x0000000000000000000000000000000000000000",
                  "token1Address": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                  "poolReference": "0x96d4b53a38337a5733179751781178a2613306063c511b78cd02684739288c0a"
                },
                "chainId": 8453,
                "protocol": "V4",
                "independentToken": {
                  "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                  "amount": "3000000"
                },
                "dependentToken": {
                  "tokenAddress": "0x0000000000000000000000000000000000000000",
                  "amount": "952630553245231"
                },
                "tickBounds": {
                  "tickLower": -198950,
                  "tickUpper": -198200
                },
                "simulateTransaction": false,
                "nativeTokenBalance": "19345734941139696"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreatePositionSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/lp/increase": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Increase an LP position",
        "description": "Increases liquidity in an existing position. Specify the independent token and amount; the server derives the dependent token amount from the current pool state. Supports V2 (by token pair), V3, and V4 (by NFT token ID). If `simulateTransaction` is set to `true`, the response will include the gas fee.",
        "operationId": "increase_position",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncreasePositionRequest"
              },
              "example": {
                "walletAddress": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "chainId": 8453,
                "protocol": "V3",
                "token0Address": "0x0000000000000000000000000000000000000000",
                "token1Address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "nftTokenId": "4986936",
                "independentToken": {
                  "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                  "amount": "3000000"
                },
                "simulateTransaction": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/IncreasePositionSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/lp/decrease": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Decrease an LP position",
        "description": "Decreases liquidity in an existing position by a specified percentage. The server derives all position state (liquidity, fees, ticks) from on-chain data. Supports V2 (by token pair), V3, and V4 (by NFT token ID). If `simulateTransaction` is set to `true`, the response will include the gas fee.",
        "operationId": "decrease_position",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecreasePositionRequest"
              },
              "example": {
                "walletAddress": "0x...",
                "chainId": 130,
                "protocol": "V4",
                "token0Address": "0x0000000000000000000000000000000000000000",
                "token1Address": "0x078D782b760474a361dDA0AF3839290b0EF57AD6",
                "nftTokenId": "1833079",
                "liquidityPercentageToDecrease": 25,
                "simulateTransaction": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DecreasePositionSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/lp/claim_fees": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Claim LP position fees",
        "description": "Claims accumulated trading fees from a V3 or V4 LP position. If `simulateTransaction` is set to `true`, the response will include the gas fee for the claim transaction.\n\nNote: V2 positions do not have claimable fees. V2 trading fees are automatically added to your LP token balance.",
        "operationId": "claim_fees",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimFeesRequest"
              },
              "example": {
                "protocol": "V4",
                "walletAddress": "0x...",
                "chainId": 130,
                "tokenId": "1833079",
                "simulateTransaction": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClaimFeesSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/lp/create_classic": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Create a classic (V2) LP position",
        "description": "Creates a full-range liquidity position in a Uniswap V2 pool. Specify the independent token and amount; the server computes the dependent token amount based on the current pool ratio. If `simulateTransaction` is set to `true`, the response will include the gas fee for the creation transaction.",
        "operationId": "create_classic_position",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassicPositionRequest"
              },
              "example": {
                "walletAddress": "0x...",
                "poolParameters": {
                  "token0Address": "0x0000000000000000000000000000000000000000",
                  "token1Address": "0xc02fe7317d4eb8753a02c35fe019786854a92001",
                  "chainId": 130
                },
                "independentToken": {
                  "tokenAddress": "0xc02fe7317d4eb8753a02c35fe019786854a92001",
                  "amount": "1000000000000000"
                },
                "dependentToken": {
                  "tokenAddress": "0x0000000000000000000000000000000000000000",
                  "amount": "1227700073369630"
                },
                "simulateTransaction": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateClassicPositionSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/lp/pool_info": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "utilities"
        ],
        "summary": "Get pool state",
        "description": "Fetches detailed information about one or more liquidity pools across Uniswap V2, V3, and V4. Returns pool state including token addresses, reserves, liquidity, current tick, sqrtRatioX96, fee tier, tick spacing, and hook addresses (V4).\n\nProvide one of `poolParameters` or `poolReferences` (not both):\n- `poolParameters`: Look up pools by token pair. Provide token addresses and optional fee/tickSpacing/hooks to find matching pools.\n- `poolReferences`: Look up specific known pools by their reference identifier (pool address for V3, pool ID for V4, pair address for V2).",
        "operationId": "pool_info",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoolInfoRequest"
              },
              "example": {
                "protocol": "V4",
                "chainId": 1,
                "poolParameters": {
                  "tokenAddressA": "0x0000000000000000000000000000000000000000",
                  "tokenAddressB": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                  "fee": 3000,
                  "tickSpacing": 60
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PoolInfoResponse200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/PoolInfoNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/wallet/encode_7702": {
      "post": {
        "tags": [
          "swap-batching"
        ],
        "summary": "Encode wallet transactions",
        "description": "Encodes a list of transactions into a single transaction for an EIP-7702 delegated smart contract wallet. All transactions must have the same chainId.",
        "operationId": "wallet_encode_7702",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletEncode7702RequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WalletEncode7702Success200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/QuoteNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/wallet/check_delegation": {
      "post": {
        "tags": [
          "utilities"
        ],
        "summary": "Get wallet delegations",
        "description": "Gets the current delegation status and message for a smart contract wallet across different chains. Returns delegation information for each chain ID in the request.",
        "operationId": "wallet_check_delegation",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletCheckDelegationRequestBody"
              },
              "example": {
                "walletAddresses": [
                  "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421"
                ],
                "chainIds": [
                  1,
                  8453
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WalletCheckDelegationSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/QuoteNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swap_5792": {
      "post": {
        "tags": [
          "swap-batching"
        ],
        "summary": "Create swap EIP 5792 calldata",
        "description": "Create the EIP 5792 calldata for a swap transaction (including wrap/unwrap and bridging) against the Uniswap Protocols. If the `quote` parameter includes the fee parameters, then the calldata will include the fee disbursement. The gas estimates will be **more precise** when the response calldata would be valid if submitted on-chain.",
        "operationId": "create_swap_5792_transaction",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSwap5792Request"
              },
              "example": {
                "quote": {
                  "chainId": 8453,
                  "swapper": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                  "tradeType": "EXACT_INPUT",
                  "route": [
                    [
                      {
                        "type": "v4-pool",
                        "address": "0x636da53e0251b3cb0b4d10dbaff488b294f97bd5212b7e2a7c1bc3fb57fd6e31",
                        "tokenIn": {
                          "address": "0x624e2e7fDc8903165F64891672267AB0FCB98831",
                          "chainId": 8453,
                          "symbol": "SOSO",
                          "decimals": "18"
                        },
                        "tokenOut": {
                          "address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "chainId": 8453,
                          "symbol": "USDC",
                          "decimals": "6"
                        },
                        "sqrtRatioX96": "51868315841017165286814",
                        "liquidity": "60642987270239502",
                        "tickCurrent": "-284797",
                        "fee": "1",
                        "tickSpacing": "1",
                        "hooks": "0x0000000000000000000000000000000000000000",
                        "amountIn": "4666414752365827583",
                        "amountOut": "1999890"
                      }
                    ]
                  ],
                  "input": {
                    "amount": "4666414752365827583",
                    "token": "0x624e2e7fDc8903165F64891672267AB0FCB98831"
                  },
                  "output": {
                    "amount": "1999890",
                    "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421"
                  },
                  "slippage": 2.5,
                  "priceImpact": 0.01,
                  "gasFee": "1664618749624",
                  "gasFeeUSD": "0.002335228716641861",
                  "gasFeeQuote": "2335",
                  "gasUseEstimate": "162169",
                  "routeString": "[v4] 100.00% = [0.0001%] [1] [0x0000000000000000000000000000000000000000] 0x636da53e0251b3cb0b4d10dbaff488b294f97bd5212b7e2a7c1bc3fb57fd6e31",
                  "blockNumber": "45041016",
                  "quoteId": "dccb2b4f-3b0c-46be-8e17-9fb103d44990",
                  "gasPrice": "9000000",
                  "txFailureReasons": [],
                  "aggregatedOutputs": [
                    {
                      "amount": "1999890",
                      "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                      "bps": 10000,
                      "minAmount": "1949892"
                    }
                  ]
                },
                "permitData": {
                  "domain": {
                    "name": "Permit2",
                    "chainId": 8453,
                    "verifyingContract": "0x000000000022D473030F116dDEE9F6B43aC78BA3"
                  },
                  "types": {
                    "PermitSingle": [
                      {
                        "name": "details",
                        "type": "PermitDetails"
                      },
                      {
                        "name": "spender",
                        "type": "address"
                      },
                      {
                        "name": "sigDeadline",
                        "type": "uint256"
                      }
                    ],
                    "PermitDetails": [
                      {
                        "name": "token",
                        "type": "address"
                      },
                      {
                        "name": "amount",
                        "type": "uint160"
                      },
                      {
                        "name": "expiration",
                        "type": "uint48"
                      },
                      {
                        "name": "nonce",
                        "type": "uint48"
                      }
                    ]
                  },
                  "values": {
                    "details": {
                      "token": "0x624e2e7fDc8903165F64891672267AB0FCB98831",
                      "amount": "1461501637330902918203684832716283019655932542975",
                      "expiration": "1779463380",
                      "nonce": "0"
                    },
                    "spender": "0x6ff5693b99212da76ad316178a184ab56d299b43",
                    "sigDeadline": "1776873180"
                  }
                },
                "urgency": "normal"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateSwap5792Success200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swap_7702": {
      "post": {
        "tags": [
          "swap-batching"
        ],
        "summary": "Create swap EIP 7702 calldata",
        "description": "Create the EIP 7702 calldata for a swap transaction (including wrap/unwrap and bridging) against the Uniswap Protocols. If the `quote` parameter includes the fee parameters, then the calldata will include the fee disbursement. The gas estimates will be **more precise** when the the response calldata would be valid if submitted on-chain.\n\nNative ETH / UniswapX setup: When `x-erc20eth-enabled` is `true` and the input token is native ETH, the response may include an additional native approval call (e.g. an `approveNative` step) to enable ERC20-ETH (EIP-7914) spending for the wallet. This native allowance is a prerequisite for native ETH input on UniswapX (`/quote` then `/order`) for supported wallets.",
        "operationId": "create_swap_7702_transaction",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSwap7702Request"
              },
              "example": {
                "quote": {
                  "chainId": 8453,
                  "swapper": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                  "tradeType": "EXACT_INPUT",
                  "route": [
                    [
                      {
                        "type": "v4-pool",
                        "address": "0x636da53e0251b3cb0b4d10dbaff488b294f97bd5212b7e2a7c1bc3fb57fd6e31",
                        "tokenIn": {
                          "address": "0x624e2e7fDc8903165F64891672267AB0FCB98831",
                          "chainId": 8453,
                          "symbol": "SOSO",
                          "decimals": "18"
                        },
                        "tokenOut": {
                          "address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "chainId": 8453,
                          "symbol": "USDC",
                          "decimals": "6"
                        },
                        "sqrtRatioX96": "51868315841017165286814",
                        "liquidity": "60642987270239502",
                        "tickCurrent": "-284797",
                        "fee": "1",
                        "tickSpacing": "1",
                        "hooks": "0x0000000000000000000000000000000000000000",
                        "amountIn": "4666414752365827583",
                        "amountOut": "1999890"
                      }
                    ]
                  ],
                  "input": {
                    "amount": "4666414752365827583",
                    "token": "0x624e2e7fDc8903165F64891672267AB0FCB98831"
                  },
                  "output": {
                    "amount": "1999890",
                    "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421"
                  },
                  "slippage": 2.5,
                  "priceImpact": 0.01,
                  "gasFee": "1636896419348",
                  "gasFeeUSD": "0.002335228716641861",
                  "gasFeeQuote": "2335",
                  "gasUseEstimate": "162169",
                  "routeString": "[v4] 100.00% = [0.0001%] [1] [0x0000000000000000000000000000000000000000] 0x636da53e0251b3cb0b4d10dbaff488b294f97bd5212b7e2a7c1bc3fb57fd6e31",
                  "blockNumber": "45041659",
                  "quoteId": "ce44f65c-b16a-46e3-a3cf-23cadea6110b",
                  "gasPrice": "9000000",
                  "txFailureReasons": [],
                  "aggregatedOutputs": [
                    {
                      "amount": "1999890",
                      "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                      "bps": 10000,
                      "minAmount": "1949892"
                    }
                  ]
                },
                "permitData": {
                  "domain": {
                    "name": "Permit2",
                    "chainId": 8453,
                    "verifyingContract": "0x000000000022D473030F116dDEE9F6B43aC78BA3"
                  },
                  "types": {
                    "PermitSingle": [
                      {
                        "name": "details",
                        "type": "PermitDetails"
                      },
                      {
                        "name": "spender",
                        "type": "address"
                      },
                      {
                        "name": "sigDeadline",
                        "type": "uint256"
                      }
                    ],
                    "PermitDetails": [
                      {
                        "name": "token",
                        "type": "address"
                      },
                      {
                        "name": "amount",
                        "type": "uint160"
                      },
                      {
                        "name": "expiration",
                        "type": "uint48"
                      },
                      {
                        "name": "nonce",
                        "type": "uint48"
                      }
                    ]
                  },
                  "values": {
                    "details": {
                      "token": "0x624e2e7fDc8903165F64891672267AB0FCB98831",
                      "amount": "1461501637330902918203684832716283019655932542975",
                      "expiration": "1779464665",
                      "nonce": "0"
                    },
                    "spender": "0x6ff5693b99212da76ad316178a184ab56d299b43",
                    "sigDeadline": "1776874465"
                  }
                },
                "smartContractDelegationAddress": "0x000000009b1d0af20d8c6d0a44e162d11f9b8f00"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          },
          {
            "$ref": "#/components/parameters/erc20EthEnabledHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateSwap7702Success200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swap_4337": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Create swap ERC-4337 UserOperation",
        "description": "Builds and returns a partially-populated ERC-4337 v0.8 UserOperation for executing a swap (including wrap/unwrap and bridging) against the Uniswap Protocols. The response includes any required ERC-20 approval and Permit2 calls bundled into the UserOperation's `callData`. Paymaster fields are left empty for the wallet to populate via `pm_sponsorUserOperation` before signing and submitting to the bundler. The `signature` field contains a dummy value that the wallet must replace before submission.",
        "operationId": "create_swap_4337_transaction",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Swap4337Request"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "UserOperation encoded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Swap4337Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "x-internal": true
      }
    },
    "/check_approval_4337": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Create approval ERC-4337 UserOperation",
        "description": "Builds and returns an ERC-4337 v0.8 UserOperation that performs the ERC-20 approval (and any required allowance reset) needed before a swap. Paymaster fields and `signature` are left for the client to populate. When `sponsorshipInfo.sponsored` is `true`, the approval is tagged for sponsorship and a `paymasterServiceContext` envelope is returned for the client to forward to the paymaster.",
        "operationId": "check_approval_4337",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckApproval4337Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "UserOperation encoded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckApproval4337Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "x-internal": true
      }
    },
    "/plan": {
      "post": {
        "tags": [
          "chained-swapping"
        ],
        "summary": "Create an execution plan",
        "description": "Creates a multi-step execution plan for chained transactions. The plan breaks down complex multi-chain or multi-transaction flows into sequential steps that can be executed by the client. Each step includes the method (transaction, message signature, or batch calls), payload, and current status. The response includes the current step index to track progress through the plan.",
        "operationId": "create_plan",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreatePlanSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/QuoteNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/plan/{planId}": {
      "get": {
        "tags": [
          "chained-swapping"
        ],
        "summary": "Get an execution plan",
        "description": "Retrieves an existing execution plan by its ID. Returns the full plan with current status and all steps. If forceRefresh is set to true, the plan will be refreshed to check for any updates to step statuses. Note: Completed plans cannot be refreshed.",
        "operationId": "get_plan",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "forceRefresh",
            "in": "query",
            "required": false,
            "description": "Whether to force refresh the plan status. Defaults to false. Completed plans cannot be refreshed.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPlanSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/QuoteNotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      },
      "patch": {
        "summary": "Update an execution plan",
        "description": "Updates an existing execution plan by submitting proof of completed plan steps (transaction hashes or signatures). The endpoint retrieves the existing plan, attaches proofs to specified steps, verifies the proofs, and potentially regenerates remaining steps if needed. Returns the full updated plan with current status. Note: Order IDs are not accepted in requests; they are system-generated after receiving a signature.",
        "operationId": "update_plan",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan to update.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdatePlanSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/QuoteNotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "tags": [
          "chained-swapping"
        ]
      }
    },
    "/wallet/encode_4337": {
      "post": {
        "tags": [
          "utilities"
        ],
        "summary": "Encode ERC-4337 UserOperation",
        "description": "Builds and returns a fully-populated ERC-4337 v0.8 UserOperation for the given batch of calls. When a `paymasterUrl` is provided the endpoint attempts gas sponsorship via the paymaster; the response indicates whether sponsorship was granted and includes sponsor metadata when available.",
        "operationId": "encode_4337",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Encode4337Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "UserOperation encoded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Encode4337Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "x-internal": true
      }
    }
  },
  "components": {
    "responses": {
      "OrdersSuccess200": {
        "description": "The request orders matching the query parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetOrdersResponse"
            },
            "example": {
              "orders": [
                {
                  "encodedOrder": "0x0000000000...",
                  "signature": "0xcc803880b7...",
                  "nonce": "1993350603649363012805190338010060803841095487773749076708031661332198422531",
                  "orderStatus": "cancelled",
                  "chainId": 1,
                  "orderId": "0x7030883e6b34144d7f5e731bde66e23eb124f160f857cc5bc33c5c280fa63701",
                  "createdAt": 1774555222,
                  "settledAmounts": [
                    {
                      "tokenOut": "0x45e02bc2875A2914C4f585bBF92a6F28bc07CB70",
                      "amountOut": "3306647558219378950381",
                      "tokenIn": "0xdAC17F958D2ee523a2206206994597C13D831ec7",
                      "amountIn": "1211000000"
                    }
                  ],
                  "cosignature": "0x29979349ca...",
                  "swapper": "0xb659Bb7b4B3fEc43F071F6f95cF975E1Aa89C6Ed",
                  "quoteId": "3a0200d7-be0c-46d5-b19e-82a6c2719480",
                  "txHash": "0x0b12fb61cd06dc179f270c4525584d07fc08911f78c4a940997981d01037fff7",
                  "type": "Dutch_V2",
                  "outputs": [
                    {
                      "token": "0x45e02bc2875A2914C4f585bBF92a6F28bc07CB70",
                      "startAmount": "3301675174569363530964",
                      "endAmount": "3285166798696516713309",
                      "recipient": "0xb659Bb7b4B3fEc43F071F6f95cF975E1Aa89C6Ed"
                    },
                    {
                      "token": "0x45e02bc2875A2914C4f585bBF92a6F28bc07CB70",
                      "startAmount": "8274875124233993811",
                      "endAmount": "8233500748612823842",
                      "recipient": "0x12c280eE47dDf0372B86E29a7065880108895fe7"
                    }
                  ],
                  "cosignerData": {
                    "decayStartTime": 1774555246,
                    "decayEndTime": 1774555306,
                    "exclusiveFiller": "0x8392876883Cf0e9e7ee24d9b1F606ED88644f23B",
                    "inputOverride": "0",
                    "outputOverrides": [
                      "3306647558219378950381",
                      "0"
                    ]
                  },
                  "input": {
                    "token": "0xdAC17F958D2ee523a2206206994597C13D831ec7",
                    "startAmount": "1211000000",
                    "endAmount": "1211000000"
                  }
                }
              ],
              "requestId": "cOVivj_DiYcEPqQ="
            }
          }
        }
      },
      "OrderSuccess201": {
        "description": "Encoded order submitted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OrderResponse"
            }
          }
        }
      },
      "QuoteSuccess200": {
        "description": "Quote request successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QuoteResponse"
            },
            "example": {
              "requestId": "34784ef4-065a-4fa2-b77c-521f785fc068",
              "routing": "CLASSIC",
              "quote": {
                "chainId": 1,
                "input": {
                  "amount": "2516",
                  "token": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599"
                },
                "output": {
                  "amount": "996320746321162",
                  "token": "0x0000000000000000000000000000000000000000",
                  "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421"
                },
                "swapper": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "route": [
                  [
                    {
                      "type": "v4-pool",
                      "address": "0x599326d9cd5e1ea0893305c87d5ec3199e7f05e94d72159f35dea381479a615e",
                      "tokenIn": {
                        "chainId": 1,
                        "decimals": "8",
                        "address": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                        "symbol": "WBTC"
                      },
                      "tokenOut": {
                        "chainId": 1,
                        "decimals": "18",
                        "address": "0x0000000000000000000000000000000000000000",
                        "symbol": "ETH"
                      },
                      "fee": "500",
                      "tickSpacing": "10",
                      "hooks": "0x0000000000000000000000000000000000000000",
                      "liquidity": "82781860385007263",
                      "sqrtRatioX96": "125814565506407615477027",
                      "tickCurrent": "-267075",
                      "amountIn": "2516",
                      "amountOut": "993829944455359"
                    }
                  ]
                ],
                "slippage": 5.5,
                "tradeType": "EXACT_INPUT",
                "quoteId": "62e83902-9455-405d-8c62-cdf8ee9e2042",
                "gasFeeUSD": "1.27511942409885062",
                "gasFeeQuote": "489108586810000",
                "gasUseEstimate": "180350",
                "priceImpact": 0.14,
                "txFailureReasons": [],
                "maxPriorityFeePerGas": "2000000000",
                "maxFeePerGas": "4656513686",
                "gasFee": "489108586810000",
                "routeString": "[V4] 100.00% = WBTC -- 0.05% [0x599326d9cd5e1ea0893305c87d5ec3199e7f05e94d72159f35dea381479a615e]ETH",
                "blockNumber": "22483653",
                "aggregatedOutputs": [
                  {
                    "amount": "993829944455360",
                    "token": "0x0000000000000000000000000000000000000000",
                    "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                    "bps": 9975,
                    "minAmount": "993829944455360"
                  },
                  {
                    "amount": "2490801865802",
                    "token": "0x0000000000000000000000000000000000000000",
                    "recipient": "0x000000fee13a103A10D593b9AE06b3e05F2E7E1c",
                    "bps": 25,
                    "minAmount": "2490801865802"
                  }
                ],
                "portionAmount": "2490801865802",
                "portionBips": 25,
                "portionRecipient": "0x000000fee13a103A10D593b9AE06b3e05F2E7E1c"
              },
              "permitData": {
                "domain": {
                  "name": "Permit2",
                  "chainId": 1,
                  "verifyingContract": "0x000000000022D473030F116dDEE9F6B43aC78BA3"
                },
                "types": {
                  "PermitSingle": [
                    {
                      "name": "details",
                      "type": "PermitDetails"
                    },
                    {
                      "name": "spender",
                      "type": "address"
                    },
                    {
                      "name": "sigDeadline",
                      "type": "uint256"
                    }
                  ],
                  "PermitDetails": [
                    {
                      "name": "token",
                      "type": "address"
                    },
                    {
                      "name": "amount",
                      "type": "uint160"
                    },
                    {
                      "name": "expiration",
                      "type": "uint48"
                    },
                    {
                      "name": "nonce",
                      "type": "uint48"
                    }
                  ]
                },
                "values": {
                  "details": {
                    "token": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                    "amount": "1461501637330902918203684832716283019655932542975",
                    "expiration": "1749845047",
                    "nonce": "1"
                  },
                  "spender": "0x66a9893cc07d91d95644aedd05d03f95e1dba8af",
                  "sigDeadline": "1747254847"
                }
              },
              "permitTransaction": null
            }
          }
        }
      },
      "LimitOrderQuoteSuccess200": {
        "description": "Limit Order Quote request successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LimitOrderQuoteResponse"
            }
          }
        }
      },
      "LPApprovalSuccess200": {
        "description": "LP approval check successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LPApprovalResponse"
            },
            "example": {
              "requestId": "cMDelitrCYcEJow=",
              "transactions": [
                {
                  "transaction": {
                    "to": "0x455e53CBB86018Ac2B8092FdCd39d8444aFFC3F6",
                    "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                    "data": "0x095ea7b300...",
                    "value": "0x00",
                    "chainId": 1
                  },
                  "cancelApproval": false,
                  "action": "CREATE"
                },
                {
                  "transaction": {
                    "to": "0xdAC17F958D2ee523a2206206994597C13D831ec7",
                    "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                    "data": "0x095ea7b300...",
                    "value": "0x00",
                    "chainId": 1
                  },
                  "cancelApproval": false,
                  "action": "CREATE"
                }
              ]
            }
          }
        }
      },
      "ApprovalSuccess200": {
        "description": "Check approval successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApprovalResponse"
            },
            "example": {
              "requestId": "e63f1e1e-b9e9-411a-bcc8-ff18ce4e77cf",
              "approval": {
                "to": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                "value": "0x00",
                "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "data": "0x095ea7b300...",
                "maxFeePerGas": "4656513686",
                "maxPriorityFeePerGas": "2000000000",
                "gasLimit": "56344",
                "chainId": 1
              },
              "cancel": null,
              "gasFee": "262366607123984"
            }
          }
        }
      },
      "CreateSwapSuccess200": {
        "description": "Create swap successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateSwapResponse"
            },
            "example": {
              "requestId": "dfc1bd88-c741-4cdb-b118-0dddb690bfef",
              "swap": {
                "data": "0x3593564c00...",
                "value": "0x00",
                "to": "0x66a9893cc07d91d95644aedd05d03f95e1dba8af",
                "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "maxFeePerGas": "4794697230",
                "maxPriorityFeePerGas": "2000000000",
                "gasLimit": "179302",
                "chainId": 1
              },
              "gasFee": "859698802733460"
            }
          }
        }
      },
      "GetSwapsSuccess200": {
        "description": "Get swap successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetSwapsResponse"
            },
            "example": {
              "requestId": "cL8S8hNtCYcEJLg=",
              "swaps": [
                {
                  "status": "SUCCESS",
                  "swapType": "CLASSIC",
                  "txHash": "0xc286f0adc6a9d6d26d6114df251d9b09d8bfafb2e00af5953193f6af92e110db"
                }
              ]
            }
          }
        }
      },
      "GetSwappableTokensSuccess200": {
        "description": "Get swappable tokens successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetSwappableTokensResponse"
            },
            "example": {
              "requestId": "cL_1ih66iYcEJ2g=",
              "tokens": [
                {
                  "name": "USD Coin",
                  "symbol": "USDC",
                  "address": "0x0b2C639c533813f4Aa9D7837CAf62653d097Ff85",
                  "chainId": 10,
                  "project": {
                    "logo": {
                      "url": "https://coin-images.coingecko.com/coins/images/6319/large/USDC.png?1769615602"
                    },
                    "safetyLevel": "VERIFIED",
                    "isSpam": false
                  },
                  "decimals": 6
                },
                {
                  "name": "Bridged USDC",
                  "symbol": "USDC.e",
                  "address": "0x7F5c764cBc14f9669B88837ca1490cCa17c31607",
                  "chainId": 10,
                  "project": {
                    "logo": {
                      "url": "https://coin-images.coingecko.com/coins/images/31580/large/USDC-icon.png?1696530397"
                    },
                    "safetyLevel": "VERIFIED",
                    "isSpam": false
                  },
                  "decimals": 6
                },
                {
                  "name": "USD Coin",
                  "symbol": "USDC",
                  "address": "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359",
                  "chainId": 137,
                  "project": {
                    "logo": {
                      "url": "https://coin-images.coingecko.com/coins/images/6319/large/USDC.png?1769615602"
                    },
                    "safetyLevel": "VERIFIED",
                    "isSpam": false
                  },
                  "decimals": 6
                }
              ]
            }
          }
        }
      },
      "CreatePositionSuccess200": {
        "description": "Create V3/V4 position successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreatePositionResponse"
            },
            "example": {
              "requestId": "3e7960b1-496d-4810-b071-a989fc6c82c3",
              "token0": {
                "tokenAddress": "0x0000000000000000000000000000000000000000",
                "amount": "953604746993169"
              },
              "token1": {
                "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "amount": "3000000"
              },
              "adjustedMinPrice": "0.000000002291623505250648965031523285",
              "adjustedMaxPrice": "0.000000002470095393846743765417492756",
              "tickLower": -198950,
              "tickUpper": -198200,
              "create": {
                "to": "0x7C5f5A4bBd8fD63184577525326123B519429bDc",
                "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "data": "0xdd46508f00...",
                "value": "0x0370d2117653fe",
                "chainId": 8453
              }
            }
          }
        }
      },
      "CreateClassicPositionSuccess200": {
        "description": "Create classic (V2) position successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateClassicPositionResponse"
            },
            "example": {
              "requestId": "cMJXBil3CYcEJjQ=",
              "independentToken": {
                "tokenAddress": "0xc02fE7317D4eb8753a02c35fe019786854A92001",
                "amount": "1000000000000000"
              },
              "dependentToken": {
                "tokenAddress": "0x0000000000000000000000000000000000000000",
                "amount": "1227700073369630"
              },
              "create": {
                "to": "0x284F11109359a7e1306C3e447ef14D38400063FF",
                "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "data": "0xf305d71900...",
                "value": "0x045c9632c3901e",
                "chainId": 130
              }
            }
          }
        }
      },
      "IncreasePositionSuccess200": {
        "description": "Increase position successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/IncreasePositionResponse"
            },
            "example": {
              "requestId": "ff287fc0-3a81-42a2-a2fd-cce6a5f16821",
              "token0": {
                "tokenAddress": "0x4200000000000000000000000000000000000006",
                "amount": "923764813384463"
              },
              "token1": {
                "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "amount": "3000000"
              },
              "increase": {
                "to": "0x03a520b32C04BF3bEEf7BEb72E919cf822Ed34f1",
                "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "data": "0xac9650d800...",
                "value": "0x034828c18ec9f4",
                "chainId": 8453,
                "gasLimit": "288938",
                "gasPrice": "9000000"
              },
              "gasFee": "2668712200733"
            }
          }
        }
      },
      "DecreasePositionSuccess200": {
        "description": "Decrease position successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DecreasePositionResponse"
            },
            "example": {
              "requestId": "cMHfBjMJCYcEJQg=",
              "token0": {
                "tokenAddress": "0x0000000000000000000000000000000000000000",
                "amount": "218729726079859"
              },
              "token1": {
                "tokenAddress": "0x078D782b760474a361dDA0AF3839290b0EF57AD6",
                "amount": "506124"
              },
              "decrease": {
                "to": "0x4529A01c7A0410167c5740C487A8DE60232617bf",
                "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "data": "0xdd46508f00...",
                "value": "0x00",
                "chainId": 130
              }
            }
          }
        }
      },
      "ClaimFeesSuccess200": {
        "description": "Claim fees successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClaimFeesResponse"
            },
            "example": {
              "requestId": "cMIoDgRSiYcEJEA=",
              "token0": {
                "tokenAddress": "0x0000000000000000000000000000000000000000",
                "amount": "15372648576927"
              },
              "token1": {
                "tokenAddress": "0x078D782b760474a361dDA0AF3839290b0EF57AD6",
                "amount": "33625"
              },
              "claim": {
                "to": "0x4529A01c7A0410167c5740C487A8DE60232617bf",
                "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "data": "0xdd46508f00...",
                "value": "0x00",
                "chainId": 130
              }
            }
          }
        }
      },
      "CreateSwap5792Success200": {
        "description": "Create 5792 swap successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateSwap5792Response"
            },
            "example": {
              "requestId": "cOkpchwvCYcEMhA=",
              "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
              "chainId": 8453,
              "calls": [
                {
                  "to": "0x624e2e7fDc8903165F64891672267AB0FCB98831",
                  "data": "0x095ea7b300...",
                  "value": "0x00"
                },
                {
                  "to": "0x000000000022D473030F116dDEE9F6B43aC78BA3",
                  "data": "0x87517c4500...",
                  "value": "0x00"
                },
                {
                  "to": "0x6fF5693b99212Da76ad316178A184AB56D299b43",
                  "data": "0x3593564c00...",
                  "value": "0x00"
                }
              ],
              "gasFee": "1831080624586"
            }
          }
        }
      },
      "CreateSwap7702Success200": {
        "description": "Create 7702 swap successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateSwap7702Response"
            },
            "example": {
              "requestId": "cOnyIgrpiYcEJYg=",
              "swap": {
                "to": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "from": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "data": "0x99e1d01600...",
                "value": "0x0",
                "chainId": 8453,
                "gasLimit": "225580",
                "gasPrice": "6000000"
              },
              "gasFee": "1631928838652"
            }
          }
        }
      },
      "PoolInfoResponse200": {
        "description": "Pool information response successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PoolInfoResponse"
            },
            "example": {
              "requestId": "1b68b6fa-3946-4c5b-ac60-e5fb9d614a1b",
              "pools": [
                {
                  "poolReferenceIdentifier": "0xdce6394339af00981949f5f3baf27e3610c76326a700af57e4b3e3ae4977f78d",
                  "poolProtocol": "V4",
                  "tokenAddressA": "0x0000000000000000000000000000000000000000",
                  "tokenAddressB": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                  "tickSpacing": 60,
                  "fee": 3000,
                  "hookAddress": "0x0000000000000000000000000000000000000000",
                  "chainId": 1,
                  "tokenDecimalsA": "18",
                  "tokenDecimalsB": "6",
                  "poolLiquidity": "1007803497966589811",
                  "sqrtRatioX96": "3796141369585623258184840",
                  "currentTick": -198932
                }
              ],
              "currentPage": 1,
              "pageSize": 1
            }
          }
        }
      },
      "BadRequest400": {
        "description": "RequestValidationError, Bad Input",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err400"
            }
          }
        }
      },
      "ApprovalUnauthorized401": {
        "description": "UnauthorizedError eg. Account is blocked.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err401"
            }
          }
        }
      },
      "ApprovalNotFound404": {
        "description": "ResourceNotFound eg. Token allowance not found or Gas info not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err404"
            }
          }
        }
      },
      "Unauthorized401": {
        "description": "UnauthorizedError eg. Account is blocked.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err401"
            }
          }
        }
      },
      "QuoteNotFound404": {
        "description": "ResourceNotFound eg. No quotes available or Gas fee/price not available",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err404"
            }
          }
        }
      },
      "PoolInfoNotFound404": {
        "description": "ResourceNotFound eg. No pool information on given chain",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err404"
            }
          }
        }
      },
      "PermissionsSuccess200": {
        "description": "Token permissions lookup successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PermissionsResponse"
            },
            "example": {
              "requestId": "e63f1e1e-b9e9-411a-bcc8-ff18ce4e77cf",
              "results": [
                {
                  "token": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                  "isPermissioned": false
                }
              ]
            }
          }
        }
      },
      "PermissionsNotFound404": {
        "description": "ResourceNotFound eg. Failed to fetch token permissions.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err404"
            }
          }
        }
      },
      "SwapBadRequest400": {
        "description": "RequestValidationError, Bad Input",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err400"
            }
          }
        }
      },
      "SwapUnauthorized401": {
        "description": "UnauthorizedError eg. Account is blocked or  Fee is not enabled.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err401"
            }
          }
        }
      },
      "SwapNotFound404": {
        "description": "ResourceNotFound eg. No quotes available or Gas fee/price not available",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err404"
            }
          }
        }
      },
      "OrdersNotFound404": {
        "description": "Orders not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err404"
            }
          }
        }
      },
      "LPNotFound404": {
        "description": "ResourceNotFound eg. Cant Find LP Position.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err404"
            }
          }
        }
      },
      "OrdersBadRequest400": {
        "description": "RequestValidationError eg. Token allowance not valid or Insufficient Funds.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err400"
            }
          }
        }
      },
      "RateLimitedErr429": {
        "description": "Ratelimited",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err429"
            }
          }
        }
      },
      "InternalErr500": {
        "description": "Unexpected error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err500"
            }
          }
        }
      },
      "OrderUnavailable503": {
        "description": "Failed to post order to the upstream UniswapX service.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err503"
            }
          }
        }
      },
      "OrdersUnavailable503": {
        "description": "Upstream UniswapX service unavailable while fetching orders.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err503"
            }
          }
        }
      },
      "Timeout504": {
        "description": "Request duration limit reached.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Err504"
            }
          }
        }
      },
      "WalletEncode7702Success200": {
        "description": "Encode 7702 wallet transactions successful.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Encode7702ResponseBody"
            }
          }
        }
      },
      "WalletCheckDelegationSuccess200": {
        "description": "Wallet delegation info request successful.",
        "content": {
[...]
