@import "../../variables";

.beta-message {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba($salmon-red, .4);
  background-color: rgba($salmon-red, .1);
  border-radius: 1rem;
  font-size: .75rem;
  line-height: 1rem;
  text-align: center;
}
