@import "../../variables";

.beta-message {
  @extend %row-nowrap;
  flex: 1 0 auto;
  align-items: center;
  position: relative;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba($salmon-red, .4);
  background-color: rgba($salmon-red, .1);
  border-radius: 2rem;
  font-size: .75rem;
  line-height: 1rem;
  text-align: center;
  color: $salmon-red;

  &:after {
    content: '✕';
    top: .5rem;
    right: 1rem;
    position: absolute;
    color: $salmon-red;
  }
}
