html, input, textarea, button {
    font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
    html, input, textarea, button {
        font-family: 'Inter var', sans-serif;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}

button {
    user-select: none;
}

html {
    font-size: 16px;
    font-variant: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-feature-settings: 'ss01' on, 'ss02' on,  'cv01' on, 'cv03' on;
}

body {
    min-height: 100vh;
    background-position: 0 -30vh;
    background-repeat: no-repeat;
}