@import '../../variables.scss';

.contextual-info {
  &__summary-wrapper {
    background-color: $concrete-gray;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    color: #737373;
    font-size: .75rem;
    text-align: center;
    cursor: pointer;
  }

  &--error {
    color: $salmon-red;
  }

  &__summary-modal {
    background-color: $white;
    position: relative;
    bottom: 12rem;
    min-height: 12rem;
    max-height: 12rem;
    z-index: 2000;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: 250ms ease-in-out;

    @media only screen and (min-width : 768px) {
      max-width: 560px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      border-radius: 1rem;
      padding-bottom: 1rem;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin-top: 4rem;
    }

    .swap__open-details-container {
      padding: 0.5rem 0;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }

  &__open-details-container {
    @extend %row-nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: .75rem;
    color: $royal-blue;

    img {
      height: .75rem;
      width: .75rem;
    }
  }

  &__modal-button {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
  }
}
