@import "../variables.scss";

.app {
  &__switch-wrapper {
    height: 100%;
    position: relative;

    @media only screen and (min-device-width : 768px) {
      margin-top: 4rem;
    }

    & > div {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
    }
  }
}

#app-container {
  width: 100vw;
  height: 100vh;
  @extend %col-nowrap;

  @media only screen and (min-device-width : 768px) {
    max-width: 560px;
  }
}
