@import '../../variables.scss';

.header {
  @extend %col-nowrap;
  display: block;

  &__no-decoration {
    text-decoration: none;
  }

  &__top {
    @extend %row-nowrap;
    padding: 1.25rem 0.75rem;
    align-items: center;
    border-bottom: 1px solid $concrete-gray;
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1rem;
    line-height: 1.5rem;
    color: $wisteria-purple;
  }

  &__center-group {
    flex: 1 1 auto;
    width: 0;
  }

  &__navigation {
    margin-bottom: 1rem;
  }

  &__dialog {
    @extend %col-nowrap;
    border-radius: 0.875rem;
    border: 1px solid $mercury-gray;
    margin: 1rem 0.75rem 0 0.75rem;
    padding: 1.5rem 1rem;
    text-align: center;
    display: none;

    &__description {
      font-size: 0.75rem;
      color: $dove-gray;
      margin-top: 0.4rem;
    }

    &--disconnected {
      display: block;
    }
  }

  &__download {
    @extend %row-nowrap;
    justify-content: center;
    margin-top: 1rem;

    img {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      cursor: pointer;
    }

    img + img {
      margin-left: 1rem;
    }
  }

  @media only screen and (min-width: 768px) {
    //position: fixed;
    top: 0px;
    left: 0px;
    flex: 0 0 auto;

    &__top {
      border: none;
      padding: 1.25rem;
    }
  }
}
