@import "../../variables.scss";

.header {
  @extend %col-nowrap;

  &__top {
    @extend %row-nowrap;
    padding: 1.25rem .75rem;
    align-items: center;
    border-bottom: 1px solid $concrete-gray;
  }

  &__footer {
    margin-top: 20px;
  }

  &__authenticate {
    border: 1px solid $mercury-gray;
    color: #000;
    cursor: pointer;
    display: inline-block;
    padding: .2rem .5rem;
  }

  &__title {
    font-size: 1rem;
    font-family: 'Rubik';
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: $royal-blue;
  }

  &__center-group {
    flex: 1 1 auto;
    width: 0;
  }

  &__navigation {
    margin-bottom: 1rem;
  }

  &--inactive {
    opacity: .5;
  }

  &__dialog {
    @extend %col-nowrap;
    border-radius: 3px;
    border: 1px solid $mercury-gray;
    margin: 1rem .75rem 0 .75rem;
    padding: 1.5rem 1rem;
    text-align: center;
    display: none;

    &__description {
      font-size: .75rem;
      color: $dove-gray;
      margin-top: .4rem;
    }

    &--disconnected {
      display: inherit;
    }
  }

  &__download {
    @extend %row-nowrap;
    justify-content: center;
    margin-top: 1rem;

    img {
      height: 3.5rem;
      width: 3.5rem;
      cursor: pointer;
    }

    img + img {
      margin-left: 1rem;
    }
  }

  @media only screen and (min-width : 768px) {
    //position: fixed;
    top: 0px;
    left: 0px;
    flex: 0 0 auto;

    &__top {
      border: none;
      padding: 1.25rem;
    }
  }
}
