.instructions {
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  bottom: 1vh;
  border-radius: 15px;
  border: 1px solid;
  border-color: rgb(122, 251, 255);
  color: rgb(122, 251, 255);
  text-shadow: 2px 2px 10px #2daae0;
  margin-left: 35vw;
  margin-right: 1vw;
  max-height: 55vh;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  overflow-y: scroll;
} .instructions:hover{
  color: rgb(216, 169, 236);
  text-shadow: 1px 1px 5px #ff69f0;
  border-color: rgb(180, 81, 179);
  background-color: rgba(0,0,0,0.55);
}

.instructions-title {
  text-align: left;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 22px;
}

.instructions-text {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  padding-left: 25px;
  padding-right: 15px;
}

.instructions a:link, .instructions a:visited, .instructions-highlight {
  color: rgb(122, 251, 255);
  text-shadow: 2px 2px 10px #2daae0;
}

.instructions a:hover, .instructions-highlight:hover {
  text-shadow: none;
}

.instructions-approve {
  font-size: 12px;
  color: rgb(122, 251, 255);
  border: 1px solid;
  border-color: rgb(122, 251, 255);
  border-radius: 4px;
  padding: 1px 2px;
  text-shadow: none;
}.instructions-approve:hover {
  cursor: default;
}
