.instructions {
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  bottom: 1vh;
  border-radius: 15px;
  border: 1px solid rgb(180, 81, 179);
  color: rgb(122, 251, 255);
  text-shadow: 2px 2px 10px #2daae0;
  margin-left: 35vw;
  margin-right: 1vw;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
} .instructions:hover{
  color: rgb(216, 169, 236);
  text-shadow: 1px 1px 5px #ff69f0;
}

.instructions-title {
  text-align: left;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 22px;
}

.instructions-text {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  padding-left: 25px;
  padding-right: 15px;
}

.instructions-link {
  padding-top: 14px;
  text-align: left;
}
