<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).NotificationService</string>
	</dict>
	<key>OneSignal_app_groups_key</key>
	<string>group.com.uniswap.mobile.onesignal</string>
	<key>BUNDLE_ID_SUFFIX</key>
	<string>$(BUNDLE_ID_SUFFIX)</string>
</dict>
</plist>
