@import '../../variables.scss';

.tabs {
  @extend %row-nowrap;
  align-items: center;
  height: 3rem;
  background-color: $concrete-gray;
  border-radius: 3rem;
  box-shadow: 0 0 0 .5px darken($concrete-gray, 5);

  .tab:first-child {
    //margin-left: -1px;
  }

  .tab:last-child {
    //margin-right: -1px;
  }
}

.tab {
  @extend %row-nowrap;
  align-items: center;
  justify-content: center;
  height: 3rem;
  flex: 1 0 auto;
  border-radius: 3rem;
  transition: 300ms ease-in-out;
  cursor: pointer;

  span {
    color: $dove-gray;
    font-size: 1rem;
  }

  &--selected {
    background-color: $white;
    border-radius: 3rem;
    box-shadow: 0 0 .5px .5px $mercury-gray;
    font-weight: 500;

    span {
      color: $royal-blue;
    }
  }
}
