@import '../../variables.scss';

.pool {
  @extend %col-nowrap;
  height: 100%;
  background-color: $white;

  &__liquidity-container {
    @extend %row-nowrap;
    align-items: center;
    font-size: 0.75rem;
    padding: 0.625rem 1rem;
    font-size: 0.75rem;
    color: $royal-blue;
    font-weight: 500;
    cursor: pointer;

    img {
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  &__liquidity-label {
    flex: 1 0 auto;
  }

  &__summary-panel {
    @extend %col-nowrap;
    padding: 1rem 0;
  }

  &__last-summary-text {
    margin-top: 1rem;
  }

  &__exchange-rate-wrapper {
    @extend %row-nowrap;
    align-items: center;
    color: $dove-gray;
    font-size: 0.75rem;
    padding: 0.25rem 1rem 0;
  }

  &__exchange-rate {
    flex: 1 1 auto;
    width: 0;
    color: $chalice-gray;
  }

  &__cta-container {
    display: flex;
  }

  &__cta-btn {
    @extend %primary-button;
    margin: 2rem auto 0;

    &--inactive {
      background: $mercury-gray;
    }
  }

  &__new-exchange-warning {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid rgba($pizazz-orange, 0.4);
    background-color: rgba($pizazz-orange, 0.1);
    border-radius: 1rem;
  }

  &__new-exchange-warning-text {
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;

    &:first-child {
      padding-bottom: 0.3rem;
      font-weight: 500;
    }
  }

  &__summary-item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.pool-modal {
  background-color: $white;
  position: relative;
  bottom: 11.0625rem;
  width: 100%;
  height: 11.0625rem;
  z-index: 2000;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: 250ms ease-in-out;
  padding: 1rem 0 0.5rem;

  @media only screen and (min-width: 768px) {
    max-width: 560px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    padding-bottom: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 4rem;
  }

  &__item {
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $concrete-gray;

      .token-modal__token-label {
        color: $black;
      }
    }

    &:active {
      background-color: darken($concrete-gray, 1);
    }
  }
}

.pool-modal-appear {
  bottom: 0;
}

.pool-modal-appear.modal-container-appear-active {
  bottom: 0;
}

.create-exchange {
  &__summary-panel {
    color: $dove-gray;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  &__summary-text {
    font-size: 0.75rem;
  }

  &--error {
    color: $salmon-red;
  }
}

.remove-liquidity {
  &__output {
    @extend %row-nowrap;
    min-height: 3.5rem;
  }

  &__output-text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 1rem 0.75rem;
  }

  &__output-plus {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 1rem 0;
  }
}
