@import "../../variables.scss";

.pool {
  @extend %col-nowrap;
  height: 100%;
  background-color: $white;

  &__liquidity-container {
    @extend %row-nowrap;
    align-items: center;
    font-size: .75rem;
    padding: .625rem 1rem;
    font-size: .75rem;
    color: $dove-gray;

    img {
      height: .75rem;
      width: .75rem;
    }
  }

  &__liquidity-label {
    flex: 1 0 auto;
  }

  &__summary-panel {
    @extend %col-nowrap;
    padding: 1rem 0;
  }

  &__last-summary-text {
    margin-top: 1rem;
  }

  &__exchange-rate-wrapper {
    @extend %row-nowrap;
    align-items: center;
    color: $dove-gray;
    font-size: .75rem;
    padding: .25rem 1rem 0;
  }

  &__exchange-rate {
    flex: 1 1 auto;
    width: 0;
    color: $chalice-gray;
  }

  &__cta-container {
    display: flex;
  }

  &__cta-btn {
    @extend %primary-button;
    margin: 2rem auto 0;

    &--inactive {
      background: $mercury-gray;
    }
  }

  &__new-exchange-warning {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid rgba($pizazz-orange, .4);
    background-color: rgba($pizazz-orange, .1);
    border-radius: 1rem;
  }

  &__new-exchange-warning-text {
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;

    &:first-child {
      padding-bottom: .3rem;
      font-weight: 500;
    }
  }
}

.pool-modal {
  background-color: $white;
  position: relative;
  bottom: 11.0625rem;
  width: 100%;
  height: 11.0625rem;
  z-index: 2000;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: 250ms ease-in-out;
  padding: 1rem 0 .5rem;

  @media only screen and (min-device-width : 768px) {
    max-width: 560px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    padding-bottom: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 4rem;
  }

  &__item {
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $concrete-gray;

      .token-modal__token-label {
        color: $black;
      }
    }

    &:active {
      background-color: darken($concrete-gray, 1);
    }
  }
}

.pool-modal-appear {
  bottom: 0;
}

.pool-modal-appear.modal-container-appear-active {
  bottom: 0;
}

.create-exchange {
  &__summary-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $concrete-gray;
    width: 100%;
    text-align: center;
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
  }

  &__summary-text {
    padding: .75rem;
    font-size: .75rem;
    color: $dove-gray;
  }
}
