[data-reach-dialog-content] {
background-color: #222 !important;
}
span[innerHTML="Frontrun Protection"] {
    color: #FFF !important
}
[href="https://www.gelato.network"] > *{
    height :0px !important
}