body{
  margin: 0;
  padding: 0;
  font-family: "Inter UI", sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

input{
  font-size: 24px;
  line-height: 1.2;
}

p{
  margin: 0px;
}

/* .app{
  margin: 10rem;
  margin-top: 5rem;
} */

.pa2 {
  padding: 3rem;
}

.title{
  display: flex;
  flex-direction: row;
}
.border{
  border: 1px solid #f2f2f2;
}
.title {
  width: 100%;
}
.logo{
  /* width: 10vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.connection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #27AE60;
  flex: 1;
}

.connection a{
  text-decoration: none;
  color: #27AE60;
}

.order {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.arrow{
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.value{
  width: 35vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.value input, select{
  width: 100%;
  height: 100%;
  border: none;
}
.value input:focus{
    outline: none;
}

.dropdown{
  transform: rotate(-90deg);
  opacity: .4;
  position: relative;
  z-index: -99;
  left: -5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rate-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  text-decoration: none;
  color: black;
}

.link:hover .underline{
  text-decoration: underline;
}

.swap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: blue;
  height: 48px;
  transition: height .3s ease;
}

.red{
  color: red;
}

.dim .order, .rate{
  opacity: .4;
}

.hidden{
  padding: 0px;
  height: 0px;
  border: 0px solid #f2f2f2;
}
