@import url('https://rsms.me/inter/inter-ui.css');
@import "./variables.scss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter UI", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $white;
  z-index: 100;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  @media only screen and (min-device-width : 768px) {
    justify-content: center;
    align-items: center;
  }
}

#modal-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
