/* HACK: Fix title color in wallet modal */
.tw-font-medium {
  color: black;
}

/* HACK: Fix title color in wallet modal */
.tw-text-lg {
  color: black;
}

.no-scrollbars {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.no-scrollbars::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
