@import '~inter-ui';
@import '~@reach/dialog/styles.css';

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
    * {
        font-family: 'Inter var', sans-serif;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

button {
    user-select: none;
}

html {
    font-size: 16px;
    font-variant: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-feature-settings: 'ss01' on, 'ss02' on, 'cv01' on, 'cv03' on;
}

#background-radial-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    mix-blend-mode: color;
    background: radial-gradient(50% 50% at 50% 50%, #fc077d10 0%, rgba(255, 255, 255, 0) 100%);
    transform: translate(-50vw, -100vh);
    z-index: -1;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #212429;
    }
}
@media (prefers-color-scheme: light) {
    html {
        background-color: #F7F8FA;
    }
}

