@import url('https://rsms.me/inter/inter-ui.css');
@import './variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $white;
  z-index: 100;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  @media only screen and (min-width: 768px) {
    justify-content: center;
    align-items: center;
  }
}

#modal-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.loader {
  border: 1px solid transparent; /* Light grey */
  border-top: 1px solid $royal-blue; /* Blue */
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.25rem;
  animation: spin 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
