$white: #fff;
$black: #000;

// Gray
$concrete-gray: #FBFBFB;
$silver-gray: #C4C4C4;
$mercury-gray: #E1E1E1;
$dove-gray: #737373;

// Blue
$royal-blue: #2F80ED;

// Purple
$wisteria-purple: #AE60B9;

%col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}
