@import '../../variables.scss';

.address-input-panel {
  @extend %col-nowrap;

  &__input {
    font-size: 1rem;
    outline: none;
    border: none;
    flex: 1 1 auto;
    width: 0;
    color: $royal-blue;
    overflow: hidden;
    text-overflow: ellipsis;

    &::placeholder {
      color: $chalice-gray;
    }

    &--error {
      color: $salmon-red;
    }
  }

  &__recipient-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input-container {
    flex: 1;
  }

  &__qr-container {
    padding: 10px;
    background: $concrete-gray;
    border: 1px solid $mercury-gray;
    border-radius: 10px;
    margin-right: 16px;
    height: 21px;

    & > img {
      height: 21px;
    }
  }
}
