@import '../../variables.scss';

.address-input-panel {
  @extend %col-nowrap;

  &__input {
    font-size: .75rem;
    outline: none;
    border: none;
    flex: 1 1 auto;
    width: 0;
    color: $royal-blue;

    &::placeholder {
      color: $chalice-gray;
    }
  }
}
