name: 2 | Deploy to staging
on:
  push:
    branches:
      - 'releases/staging'

jobs:
  deploy-to-staging:
    runs-on: ubuntu-latest
    environment:
      name: staging
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - run: yarn prepare
      - run: yarn build
        env:
          REACT_APP_STAGING: 1
      - name: Setup node@16 (required by Cloudflare Pages)
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Update Cloudflare Pages deployment
        uses: cloudflare/pages-action@364c7ca09a4b57837c5967871d64a2c31adb8c0d
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: interface-staging
          directory: build
          githubToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload source maps to Sentry
        uses: getsentry/action-release@bd5f874fcda966ba48139b0140fb3ec0cb3aabdd
        continue-on-error: true
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: staging
          sourcemaps: './build/static/js'
          url_prefix: '~/static/js'
