@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
img {
  max-width: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  margin-top: -32px;
  text-align: center;
  color: #c9d2d7;
  position: relative;
  background-color: #222c31;
  z-index: -2;
}

.title {
  font-size: 24px;
  margin-top: 35px;
  padding: 0 16px;
  @include desktop {
    font-size: 58px;
    margin-top: 150px;
  }
}

.section_number_container {
  max-width: 800px;
  margin: 65px auto 0 auto;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }
}

.section_number {
  max-width: 450px;
  margin: 0 auto;
  background: #1d272b;
  border: dashed 1px #303e46;
  border-radius: 20px;
  padding: 28px 24px;
  display: flex;
  justify-content: space-around;

  .line {
    width: 0px;
    border: 1px solid #303e46;
  }

  @include mobile {
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%;

    .line {
      width: 100%;
    }
  }
}

.trading_volume_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 24px;

  @include tablet() {
    padding: 36px 48px;
  }

  @include desktop() {
    padding: 44px 60px;
  }
}

.liquidity_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  width: 50%;

  @include mobile {
    margin-right: 0;
    margin-bottom: 32px;
    width: 100%;
  }
}

.amp_liquidity_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  width: 50%;

  @include mobile {
    margin-left: 0;
    margin-right: 0;
    margin-top: 32px;
    width: 100%;
  }
}

.section_curve_details {
  max-width: 680px;
  margin: 45px auto 75px;
  padding: 0 20px;
  color: #c9d2d7;
  font-size: 20px;
  @include mobile {
    font-size: 16px;
    margin-top: 20px;
  }
}

.section_amp {
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  margin: 30px auto;
  .box div {
    &:nth-child(1) {
      font-size: 18px;
    }
    &:nth-child(2) {
      margin-bottom: 10px;
      font-size: 12px;
    }
    &:nth-child(3) {
      font-size: 42px;
      font-weight: 600;
      margin-top: auto;
    }
    &:nth-child(4) {
      font-size: 14px;
    }
    @include mobile {
      &:nth-child(1) {
        font-size: 12px;
      }
      &:nth-child(2) {
        margin-bottom: 5px;
        font-size: 10px;
      }
      &:nth-child(3) {
        font-size: 18px;
      }
      &:nth-child(4) {
        font-size: 10px;
      }
    }
  }
  .box_1 {
    text-align: center;
    width: 220px;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      background-color: #105d81;
    }
    &:nth-child(2) {
      background-color: #1183b7;
    }
    &:nth-child(3) {
      background-color: #08a1e7;
    }
    @include mobile {
      width: 100px;
      padding: 10px;
    }
  }
}

.section_fee {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 10px;
  color: #c9d2d7;
  font-size: 20px;
  @include mobile {
    font-size: 16px;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}
.section_graph {
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  @include mobile {
    flex-direction: column;
    padding: 0 24px;
  }
  .left {
    border-radius: 20px;
    flex: 1;
    background-image: url('../../assets/svg/about_graph.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    @include mobile {
      height: 300px;
      flex: auto;
      margin-bottom: 20px;
    }
  }
  .right {
    @include mobile {
      display: flex;
    }
    .item {
      padding: 25px;
      background-color: rgba(29, 39, 43, 0.6);
      border-radius: 20px;
      border: solid 1px #303e46;
      .box {
        width: 76px;
        height: 68px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        @include mobile {
          width: 40px;
          height: 37px;
        }
        &_1 {
          background-image: url('../../assets/svg/about_icon_4.svg');
        }
        &_2 {
          background-image: url('../../assets/svg/about_icon_5.svg');
        }
        &_3 {
          background-image: url('../../assets/svg/about_icon_6.svg');
        }
      }
    }
  }
}

.youtube_video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}

.icon {
  width: 76px;
  height: 68px;
  background-repeat: no-repeat;
  background-size: contain;
  &_1 {
    background-image: url('../../assets/svg/about_icon_1.svg');
  }
  &_2 {
    background-image: url('../../assets/svg/about_icon_2.svg');
  }
  &_3 {
    background-image: url('../../assets/svg/about_icon_3.svg');
  }
  margin: auto;
}

.image1 {
  background-image: url('../../assets/svg/bg1.svg');
  width: 100%;
  position: absolute;
  top: 0;
  height: 800px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  z-index: -1;
}

.image2 {
  background-image: url('../../assets/svg/bg2.svg');
  width: 100%;
  position: absolute;
  top: 800px;
  height: 1200px;
  background-repeat: no-repeat;
  // background-position: 0 630px;
  background-size: 100%;
  z-index: -1;
}
.image3 {
  background-image: url('../../assets/svg/bg3.svg');
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 500px;
  background-repeat: no-repeat;
  // background-position: 0 630px;
  background-size: cover;
  @include mobile {
    height: 200px;
  }
  @include tablet {
    height: 300px;
  }
  z-index: -1;
}

.image_graph {
  background-image: url('../../assets/svg/about_graph.svg');
  width: 100%;
  max-width: 800px;
  margin: auto;
  height: 500px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  @include mobile {
    height: 200px;
  }
  @include tablet() {
    height: 400px;
  }
}

.panel0 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  margin: 50px auto auto auto;
  a {
    width: 200px;
    max-width: 100%;
    margin: 0 10px;
  }
}

.panel {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  margin: 50px auto auto auto;
  flex-wrap: wrap;
  padding: 0 15px;
  @include mobile {
    flex-direction: column;
    > a {
      margin-top: 10px;
      display: block;
    }
  }
}

.security {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 950px;
  margin-top: 50px;
  margin: 50px auto auto auto;
  flex-wrap: wrap;
  div {
    text-align: center;
    @include mobile {
      flex-basis: 50%;
    }
    img {
      display: inline;
      margin: 32px 10px 0 10px;
      border-radius: 10px;
      height: 80px;
      max-width: 180px;
      @include mobile {
        flex-basis: 50%;
        max-height: 55px;
        max-width: 130px;
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
  }
}
.powered {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  align-items: flex-end;
  flex-wrap: wrap;
  @include mobile() {
    margin: 40px auto;
  }
  > div {
    flex-basis: 50%;
  }
  img {
    // flex-basis: 50%;
    height: 80px;
    margin: 0 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    &:nth-child(1),
    &:nth-child(2) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
.footer {
  background: #0c1012;
  display: flex;
  padding: 10px 20px;
  @include desktop {
    margin-bottom: -5rem;
    height: 85px;
  }
  .content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    .left {
      padding-top: 6px;
      display: flex;
      flex-wrap: wrap;
      @include mobile {
        font-size: 12px;
      }
      div {
        cursor: pointer;
        display: inline;
        margin-right: 20px;
        margin-top: 10px;
        a {
          color: #859aa5;
        }
      }
    }
    .right {
      @include mobile {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
      }
      a {
        cursor: pointer;
        img {
          width: 16px;
          height: 16px;
          margin: 0 3px;
        }
      }
    }
  }
}
